# Loops
* for loop
* while loop
* for each loop - not used in python

In [32]:
l= [1,2,3,4,5,"Harshit",12.6,"Singhal"]
for i in l:
    print(i)

1
2
3
4
5
Harshit
12.6
Singhal

In [34]:
# using if and else in a loop - now there is a task in which we have to add 1 to every element of the list and we can see that there is a string in the list in which 1 can't be added so we need to handle that

for i in l:
    if isinstance(i,str):
        pass # This will pass all the strings and will print rest of every element
        # continue # This will print the whole list
    else:
        i+=1
    print(i)

2
3
4
5
6
Harshit
13.6
Singhal

In [4]:
s= "Harshit"

for i in s:
    if i == 'i':
        break
    print(i)
else:
    print('print string',s )

# This is to demonstrate that else statement can be used with for looop

H
a
r
s
h

In [4]:
# using for loop with tuples

t= (1,2,3,4,5,6,"Harshit")
for i in t:
    print(i)

1
2
3
4
5
6
Harshit

In [6]:
# for loop using set

b= {1,1,2,3,4,5,2,3,4,5,6,7,6,7,8,9,0,1,2,3,4}
type(b)

for i in b:
    print(i, end=" ") # this end= " " it does nothing but prints the result in the same line instead of line by line

0 1 2 3 4 5 6 7 8 9

In [11]:
# for loop with dict

d= {
    'key': 'value',
    'key2': 'value2',
    'key3': 'value3',
    'key4': 'value4'
}

for i in d:
    print(i)

# The above code will fetch only keys from a dict, we could have also used for i in d.keys(). To fetch value we need to use d.values() like for i in d.values() or check the below code

key
key2
key3
key4

In [14]:
# for i in d:
#     print(d[i])

for i in d.values():
    print(i)

# Both the code will give same result

value
value2
value3
value4

In [15]:
# To get both keys and values

for i in d:
    print(i, d[i])

# This code will give you both keys and values

key value
key2 value2
key3 value3
key4 value4

# Star Patterns

In [68]:
"""
Playing with star patterns

*
**
***
****
*****
"""

for i in range (0,5):
    for j in range (0,i+1):
        print('*', end= " ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [111]:
"""
    *
  * * *
* * * * * 

"""

n=4
for i in range (1,n):
    start = int(i*((i+1)/2))
    end = int(i*(i+1))
    for j in range(start, end):
        print('*', end= " ")
    print(" ")

*
* * *
* * * * * *

# While Loop

In [2]:
a= 1
b= 10

while a<=10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [1]:
# Else condition with while

while a<=10:
    print(a)
    a+=2
else:
    print('this is else block')

# This has printed the else block because from the previous block the value of a has become 10 and this fals in else block

NameError: name 'a' is not defined

In [3]:
c=11
d=20

while c<d:
    print(c)
    if c==15:
        break
    c+=1
else:
    print('This falls in else block')

11
12
13
14
15

In [7]:
# Iterating a list with the help of while

l= [10,20,30,40,50,60]

a=0
while a<len(l):
    print(l[a])
    a+=1

10
20
30
40
50
60

In [23]:
# Iterating a tuple with the help of while and to find index of element 30,40

t= (10,20,30,40,50,60)
a=0
while a<len(t):
    if t[a]==30 or t[a]==40:
        print(a)  
    a+=1

2
3