In [1]:
s = "ineuron"
type(s) # This will give the type of a variable

# Understanding the concept of indexing. If moving positive then we will get the forward context and if we will move in the negative direction we will get the backword content
a = s[0]
b = s[5]
c = s[-1]
d = s[-3]
a,b,c,d

('i', 'o', 'n', 'r')

In [2]:
s1= "Harshit"

# Understanding the concept of index slicing 

a = s1[0:6]
b = s1[0:]
c = s1[:6]
d = s1[0:6:2] # In this case the 2 is jump size which by default is 1 so the answer of d is Hrh because it is taking a jump of 2
e = s1[5]
f = s1[8:0:-1] # If you want to reverse a string make sure to use the last index in first place and if you are unsure about the indexes then you can use the below hack which is you can reverse a string without passing parameter like the one below and you can reverse the string
g = s1[::-1]
h = s1[-5:0:1] # Why this is coming blank? => The reason is you can not move from negative to positive
a,b,c,d,e,f,g,h

('Harshi', 'Harshit', 'Harshi', 'Hrh', 'i', 'tihsra', 'tihsraH', '')

In [3]:
s2 = "this is my very first programming class's"
# This is demonstrate that if you are about to use single quote (') or double quotes ("") in a senctence like one in above a single quote is being used so we will enclose the sentence in double.
# Now let's perform more operation on strings
s2[1:5]

# As you can see it started from position 1 which is h and ended with space excluding the upper bound (i.e. the last digit for index slicing like in this case 5. It will exclude this )

'his '

In [4]:
s3= "elephant"

# a= s3+1 # This is going to throw an error as string and integer can't be done so if you to concatenate a string and integer you need to typecasting or need to convert it into string
# b = s3+'1'
# c= s3+str(2)
# b,c

# Tring to find the length of a string

# len(s3)

# Checking the multiplication with string
s3*2

'elephantelephant'

In [5]:
# Using the inbuilt function for a string

a= s3.count('e') # This function tells you the count of occurence of a character/word/sentence in a Name/sentence/paragraph .You need to pass an argument into the count function and this arugument can be a character a word or a sectence. count() fucntion arguments are case sensitive like s3 doesn't have E it has e so if you pass s3.count('E') it will return 0

b= s3.split('e') # This function will split the a sentence/wrod based on the character, word it passed so like in this case where I am using e as splitter so where ever the 'e' was it has splitted the word from there and will return a list of the substrings in the string. ALSO A SEPRATER CAN BE A BLANK SPACE ALSO, INORDER TO SPLIT THE SENTENCE OR WORDS

a,b

(2, ['', 'l', 'phant'])

In [6]:
sw = """The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"""

a= sw.split(' ') # This will split the entire string based on the seperator passed like in this case ' ' (Blank Space)
b= sw.upper() # This will convert the entire string into capital case
c= sw.lower() # This will convert the entire string into lower case
a,b,c

(['The',
  'Samsung',
  'Group[3]',
  '(or',
  'simply',
  'Samsung,',
  'stylized',
  'as',
  'SΛMSUNG)',
  '(Korean:',
  '삼성',
  '[samsʌŋ])',
  'is',
  'a',
  'South',
  'Korean',
  'multinational',
  'manufacturing',
  'conglomerate',
  'headquartered',
  'in',
  'Samsung',
  'Town,',
  'Seoul,',
  'South',
  'Korea.[1]',
  'It',
  'comprises',
  'numerous',
  'affiliated',
  'businesses,[1]',
  'most',
  'of',
  'them',
  'united',
  'under',
  'the',
  'Samsung',
  'brand,',
  'and',
  'is',
  'the',
  'largest',
  'South',
  'Korean',
  'chaebol',
  '(business',
  'conglomerate).',
  'As',
  'of',
  '2020,',
  'Samsung',
  'has',
  'the',
  '8th',
  'highest',
  'global',
  'brand',
  'value.[4]\n\nSamsung',
  'was',
  'founded',
  'by',
  'Lee',
  'Byung-chul',
  'in',
  '1938',
  'as',
  'a',
  'trading',
  'company.',
  'Over',
  'the',
  'next',
  'three',
  'decades,',
  'the',
  'group',
  'diversified',
  'into',
  'areas',
  'including',
  'food',
  'processing,',
  'textiles,',
  'insurance,',
  'securities,',
  'and',
  'retail.',
  'Samsung',
  'entered',
  'the',
  'electronics',
  'industry',
  'in',
  'the',
  'late',
  '1960s',
  'and',
  'the',
  'construction',
  'and',
  'shipbuilding',
  'industries',
  'in',
  'the',
  'mid-1970s;',
  'these',
  'areas',
  'would',
  'drive',
  'its',
  'subsequent',
  'growth.',
  'Following',
  "Lee's",
  'death',
  'in',
  '1987,',
  'Samsung',
  'was',
  'separated',
  'into',
  'five',
  'business',
  'groups',
  '–',
  'Samsung',
  'Group,',
  'Shinsegae',
  'Group,',
  'CJ',
  'Group',
  'and',
  'Hansol',
  'Group,',
  'and',
  'Joongang',
  'Group.\n\nNotable',
  'Samsung',
  'industrial',
  'affiliates',
  'include',
  'Samsung',
  'Electronics',
  '(the',
  "world's",
  'largest',
  'information',
  'technology',
  'company,',
  'consumer',
  'electronics',
  'maker',
  'and',
  'chipmaker',
  'measured',
  'by',
  '2017',
  'revenues),[5][6]',
  'Samsung',
  'Heavy',
  'Industries',
  '(the',
  "world's",
  '2nd',
  'largest',
  'shipbuilder',
  'measured',
  'by',
  '2010',
  'revenues),[7]',
  'and',
  'Samsung',
  'Engineering',
  'and',
  'Samsung',
  'C&T',
  'Corporation',
  '(respectively',
  'the',
  "world's",
  '13th',
  'and',
  '36th',
  'largest',
  'construction',
  'companies).[8]',
  'Other',
  'notable',
  'subsidiaries',
  'include',
  'Samsung',
  'Life',
  'Insurance',
  '(the',
  "world's",
  '14th',
  'largest',
  'life',
  'insurance',
  'company),[9]',
  'Samsung',
  'Everland',
  '(operator',
  'of',
  'Everland',
  'Resort,',
  'the',
  'oldest',
  'theme',
  'park',
  'in',
  'South',
  'Korea)[10]',
  'and',
  'Cheil',
  'Worldwide',
  '(the',
  "world's",
  '15th',
  'largest',
  'advertising',
  'agency,',
  'as',
  'measured',
  'by',
  '2012',
  'revenues).[11][12]'],
 "THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S 2ND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12]",
 "the samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th highest global brand value.[4]\n\nsamsung was founded by lee byung-chul in 1938 as a trading company. over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. following lee's death in 1987, samsung was separated into five business groups – samsung group, shinsegae group, cj group and hansol group, and joongang group.\n\nnotable samsung industrial affiliates include samsung electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] samsung heavy industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and samsung engineering and samsung c&t corporation (respectively the world's 13th and 36th largest construction companies).[8] other notable subsidiaries include samsung life insurance (the world's 14th largest life insurance company),[9] samsung everland (operator of everland resort, the oldest theme park in south korea)[10] and cheil worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]")

In [8]:
s4 = "harshit singhal"
a= s4.title()
b= s4.capitalize() 
c= s4.swapcase()
# So the major difference between title and captalize is that title makes every word first letter Capital where as capitalize will only convert the first letter of an entire string as capital
a,b,c

('Harshit Singhal', 'Harshit singhal', 'HARSHIT SINGHAL')

In [15]:
s5= "  Harshit  Singhal  "
a= s5.strip() # It will remove the trailing and starting white space
b= s5.lstrip() # It will reomve the space from Left hand side
c= s5.rstrip() # It will remove the space from right hand side
d= " ".join(s5) # It will join every character with sapce. PS you can also pass the string instead of parameter
a,b,c,d

('Harshit  Singhal',
 'Harshit  Singhal  ',
 '  Harshit  Singhal',
 '    H a r s h i t     S i n g h a l    ')

In [39]:
s6= "Harshit\t123"
a= s6.center(20 , '#') # This will add center the string with 20 #'s 10 from right and 10 from left making the content in Center
b= s6.isupper() # By default it will return Boolean value like True or False. in this case it will return False as my complete string is not in upper case
c= s6.islower() # By default it will return Boolean value like True or False. in this case it will return False as my complete string is not in lower case
d= s6.isspace() # By default it will return Boolean value like True or False. in this case it will return False as my string is not a space. Space as in s6= " " A blank space
e= s6.isdigit() # By default it will return Boolean value like True or False. in this case it will return False as my complete string is not a digit. If my string would have been s6= '123' then it would have returned Ture
f= s6.isalnum() # By default it will return Boolean value like True or False. in this case it will return True as my string is combination of Alpna and numerical.
g= s6.isalpha() # By default it will return Boolean value like True or False. in this case it will return False as my string is not completely alpha
h= s6.startswith('i') # By default it will return Boolean value like True or False. in this case it will return False as my string doesnot starts with 'i'
i= s6.startswith('h') # By default it will return Boolean value like True or False. in this case it will return False as my string doesnot starts with 'h'
j= s6.startswith('H') # By default it will return Boolean value like True or False. in this case it will return Tur as my string starts with 'H'. PYTHON IS CASE SENSITIVE SO h and H are different
k= s6.endswith('3') # By default it will return Boolean value like True or False. in this case it will return Tur as my string ends with '3'
l= s6.isnumeric() # By default it will return Boolean value like True or False. in this case it will return False as my string is not completely string and for numeric it has to be completey numberic and with one character into the string. You can't take an empty string like "" or " "
m= s6.isascii() # By default it will return Boolean value like True or False. In this case my character is a ASCII so it will always return True
n= s6.expandtabs() # It will expand all the part wherever it find a '\t'


a,b,c,d,e,f,g,h,i,j,k,l,m,n

('####Harshit\t123#####',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 'Harshit 123')

: