In [11]:
import mysql.connector as conn
# Connecting my mysql with python
try:
    my_db= conn.connect(host="localhost", user="root",password= "H@rshit", port=3306) # Connection URL
    print("Connection Successfull")
except Exception as e:
    print("Broke due to: ",e)

cursor = my_db.cursor()
cursor.execute("show databases") # execute will execute any query but will not give any output and if you will print it, it will give None 
print(cursor.fetchall()) # To see the output of your query you need to use fetchall or fetchone - to select to first row of the output 


# So what we are doing here is that we are just using python to execute the queries in the same we would do in sql so we can do more which we will be exploring in the below code

Connection Successfull
[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [12]:
# Continuing from the above code and creating a new database

cursor.execute('create database dummy_database')
cursor.execute('show databases')
print(cursor.fetchall())

# If you'll check into mysql you can see that a new database called dummy_database has been created

[('dummy_database',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [13]:
# Now creating a new table inside any database

cursor.execute("create table dummy_database.students_details(id INT(10), student_name varchar(30), student_number INT(10))") # So the format to create a table is database_name.table_name(<column_name> <data type> <constraints if required like auto increment or Primary key>)
cursor.execute("select * from dummy_database.students_details")
print(cursor.fetchall())

[]

In [15]:
insert_values = "insert into dummy_database.students_details values (1,'ABC',987654321)"
cursor.execute(insert_values)
my_db.commit() # If you will not commit it it will not be saved into the database you can see it into the code like in the output but value will not be shown into the db
print(cursor.fetchall())

[]

In [ ]:
insert_values = "insert into dummy_database.students_details values (2,'DEF',987654321)"
cursor.execute(insert_values)
my_db.commit()

In [18]:
cursor.execute("select * from dummy_database.students_details")
print(cursor.fetchall())

[(1, 'ABC', 987654321), (2, 'DEF', 987654321)]

In [20]:
# you see in the above code it is coming in one line so you can iterate over it to handle it
cursor.execute("select * from dummy_database.students_details")
for i in cursor.fetchall():
    print(i)

(1, 'ABC', 987654321)
(2, 'DEF', 987654321)

In [21]:
# Now some more playing with the queries like selecting one column or something like that
cursor.execute("select id from dummy_database.students_details") # It similar to the sql queries so what ever you can do in sql you can do it in python
for i in cursor.fetchall():
    print(i)

(1,)
(2,)