# *List* - Mutable Entity

In [11]:
# Lists

l= [1,2,3,4,"Harshit", 45.67, True]

a= l[0] # Same like strings we can also fetch elemnts of a list via indexes either positive or negative (below example)
b= l[-1]
c= len(l) # Checking the length of a list
d= l[0:5] # Index slicing like string
e= l[::-1] # Reversing a list
f= l[0::2] # It will extract the dataset from 0 to end with a jump/step of 2
g= l[8:0:-1] # It will fetch the results from backwards
h= l[:3]
i= l+["New Item"] # Incase to add an intem to a list we need to keep the datatype same otherwise it will throw an error
j= l * 2 # It will multiply the list
k= 40 in l # This is to check if an element is in the list or not?

a,b,c,d,e,f,g,h,i,j,k

(1,
 True,
 7,
 [1, 2, 3, 4, 'Harshit'],
 [True, 45.67, 'Harshit', 4, 3, 2, 1],
 [1, 3, 'Harshit', True],
 [True, 45.67, 'Harshit', 4, 3, 2],
 [1, 2, 3],
 [1, 2, 3, 4, 'Harshit', 45.67, True, 'New Item'],
 [1, 2, 3, 4, 'Harshit', 45.67, True, 1, 2, 3, 4, 'Harshit', 45.67, True],
 False)

In [80]:
l1 = [1,2,3,4,5,6,7]
l2 = ["harshit", "singhal", "lion", "flower"]

l2.append("football") # It will append the item in the last
l1.append([8,9,10])
l2.pop() # It will pop/remove/delete the data bydefault from last and if the index is passed then it will remove the element from that index only
l1.pop()
l1.pop(2) # In this index is passed and we can see in the below result that yes my 3 is gone which was on the 2nd index

a= l1
b=l2
c= max(l1) # This is to find the max of any list so in numeric it will give the biggest number and in the case of string it will the result according to the alphabetical order and vice versa for min
d= max(l2)
e= min(l1)
f= min(l2)

a,b,c,d,e,f

([1, 2, 4, 5, 6, 7],
 ['harshit', 'singhal', 'lion', 'flower'],
 7,
 'singhal',
 1,
 'flower')

In [41]:
l3= [1,2,3,4,5,6,7,8,9]
l3.reverse() # The list is reversed
l3

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
l4 = [8,9,10,23,0,1,233,100,5,7]
l4.sort() # It will by sort the list in ascending order which is smaller to bigger if we want to it into descnding order which is greater to smaller see the below cell example. MAKE SURE THE IEMS IN THE LIST IS IDENTICAL OR NO DUPLICATE VALUES ELSE IT WILL FAIL
l4

[0, 1, 5, 7, 8, 9, 10, 23, 100, 233]

In [43]:
l5 = [8,9,10,23,0,1,233,100,5,7]
l5.sort(reverse=True)
l5

[233, 100, 23, 10, 9, 8, 7, 5, 1, 0]

In [84]:
l6= [1,2,3]
l7= [3,9,6]
l8= [7,0,4]
l9= [l6,l7,l8]
l9

[[1, 2, 3], [3, 9, 6], [7, 0, 4]]

In [86]:
# If from l9 I want to extract 0 how can I do that
l9[2][1:2] #or one more way
l9[2][1]

0

In [90]:
l10= [1,2,3,4,5,6,7]
l10.append(["abc",56,34,"def"])
l10

[1, 2, 3, 4, 5, 6, 7, ['abc', 56, 34, 'def']]

In [92]:
l11= [1,2,3,4,5,6,7,1,2,3,1,2,1]
l11.extend(["abc",56,34,"def"])
l11
# So the major difference between the append and extend is append will add the element in last like if a list is passed it will append a whole list where as in extend it will extend the same list and will give you a complete list without having list inside list where as in append if you append a list you will get a list inside a list for ex:- append => [1,2,3,[4,5,6]], extend => [1,2,3,4,5,6] or as you can see the difference between "l10" and "l11". Also extend needs to be an iterable object which means you can't pass a single interger like l11.extend(45) it will give an error but you can pass a string because it is an iterable object. For more see the below example.

[1, 2, 3, 4, 5, 6, 7, 'abc', 56, 34, 'def']

In [94]:
l11.extend("Harshit") # See the name has been extended in the list
l11

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 'abc',
 56,
 34,
 'def',
 'H',
 'a',
 'r',
 's',
 'h',
 'i',
 't',
 'H',
 'a',
 'r',
 's',
 'h',
 'i',
 't']

In [97]:
l11.index(1) # This will tell the index of an item in the list and if the element has repetitions it will show the first occurence. Like in the list l11 we can see we have multiple 1 but it will give me index of the first 1

0

In [8]:
l12 = [1,2,3,4,5,6,7]
l12.insert(3,"Harshit") # Insert takes two arguments the first one is index (where will you like to insert) and then the dataset (what will you like to insert) like in this case I want at index 3 I want my name to be inserted which happened
l12

[1, 2, 3, 'Harshit', 4, 5, 6, 7]

In [9]:
l12.pop() # So it will remove the data from the last index (-1) like in this case l12 7 will be gone or popped out. By default it takes that last element. You can also pass index as a parameter but INDEX SHOULD BE IN RANGE
l12

[1, 2, 3, 'Harshit', 4, 5, 6]

In [10]:
l12.pop(3) # If will pass a parameter inside the pop it will pop out the element from that index like in this I want to pop out the element which is at index 3 which is my name 'Harshit'.
l12

[1, 2, 3, 4, 5, 6]

In [11]:
l12.remove(2) # Removes instead of removing element from indexes it directly removes the element of the list like I will remove 2 it will remove the element 2 unlike pop which will pop out element from index 2 i.e 3 in this case (l12)
l12

[1, 3, 4, 5, 6]

In [12]:
l13 = [1,2,3,4,5,'harshit','Ashish',12.6, 19,20]
l13[7] = 12 # What I did here is item reassignment which is simple to understand that we simply replaced the element of that index like in this on 7th index we had 12.6 but now as we wanted 12 so we replaced it. It can be done because list is MUTABLE where is string is IMMUTABLE which means it can't be changed or item reassignment cannot be done
l13

[1, 2, 3, 4, 5, 'harshit', 'Ashish', 12, 19, 20]

# *Tuples* - Immutable entity

In [25]:
t1 = (1,2,3,4,5,6,7,8,'Harshit',12.6,True,99,100)
t1[3] # We can do index slicing into a tuple
t1[1:6]
t1[-3]
t1[0:6:2]
# t1[1] = "New Value" # Tuples doesn't support item reassignment and hence are called IMMUTABLE ENTITY

(1, 3, 5)

In [26]:
t2 = (4,5,6,7,8,'Ashish',13.7,False,98,101)
t2+t1 # Now a question may arise that if Tuples are immutable how come addition operation worked on it? The answer is we are not changing the internal value of any tuple, we are simply adding it so hence nothing is being changed it will work effectively

(4,
 5,
 6,
 7,
 8,
 'Ashish',
 13.7,
 False,
 98,
 101,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 'Harshit',
 12.6,
 True,
 99,
 100)

* With Tuples we have only 2 functions available 1.count 2.index

In [27]:
a= t1.count(3) # This will tell the count of number of occurences of an element within the tuple
b= t1.index('Harshit') # This will tell you the index of an element

a,b

(1, 8)

# *Set*

* It is denoted by '{}' that's why people confuse between set and dictionary.
* If a '{}' not using a key value pair then it is a set else it is a dictionary
* It will always have unique entities and will remove all the duplicacies by default
* We cannot do index slicing or fetch indexes of a set as it is not subscriptable. So to fetch index or to do index slicing we need to convert it into a list or a tuple
* Set can contain immutable entites so a set can have tuple or string but it cannot have list as list is a mutable entity

In [72]:
s= {1,2,3}
type(s)

set

In [73]:
s1= {1,2,3,4,5,6,1,2,3,4,8,9,0,7,6,7,8,9,0}
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
s1.add(10)
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [75]:
a= s1.remove(1)
b= s1.discard(100)

# The only difference between remove and discard is that if a element is not present in the set remove will give a key error where else discard will do nothing and if the element is present both the delete the element from the set

a,b

(None, None)

# *Dictionary* - One of the most important thing to know

In [2]:
d= {}
type(d)

# Dictionary can be said as a key:value pair else it will be a set. It is similar to json (javascript object notation)

dict

In [3]:
d1= {
    'name': 'Harshit',
    'age' : 24,
    'email': 'harshit@abc.com',
    'number': 1234567890
}

# In the case of dictionary keys act as your indexes so if you want to access any index it will be your key so for exacple if I want to know what is at my index of age or what is the value of age we have two option for the same which are mentioned below

a= d1['age']
b= d1.get('age')

a,b

(24, 24)

In [4]:
d2= {
    'name': 'Harshit',
    'tech_stack' : ['sql', 'python', 'dockers', 'git', 'Terraform']
}

a= 'git' in d2['tech_stack'] # If it want to know that is there value in the key of a dictionary. It will throw True
b= 'machine learning' in d2['tech_stack'] # It will throw false
# Always remember key should be unique values can be matching but keys should be unique. As they act as an index this is also one side of it that key should act as a unique thing
# If you want to add something into dictionary which is not already present into it you can simply do it by the way of item reassignment like we do for example
d2['work_profile'] = 'Engineer'

a,b

(True, False)

In [5]:
# If you want to add something into dictionary which is NOT already present into it you can simply do it by the way of item reassignment but if the key is existing the value will be updated
d2['work_profile'] = 'Engineer'
d2

{'name': 'Harshit',
 'tech_stack': ['sql', 'python', 'dockers', 'git', 'Terraform'],
 'work_profile': 'Engineer'}

In [6]:
# We can also a dictionary inside a dictonary by item reassignment
d2['extended_dict'] = d1
d3= d2
d3

{'name': 'Harshit',
 'tech_stack': ['sql', 'python', 'dockers', 'git', 'Terraform'],
 'work_profile': 'Engineer',
 'extended_dict': {'name': 'Harshit',
  'age': 24,
  'email': 'harshit@abc.com',
  'number': 1234567890}}

In [7]:
# If we want to fetch the email from d3 we can do it by index thing. This concept is usefull when fetching the data from any dynamodb stream

d3['extended_dict']['email']

'harshit@abc.com'

* Inside a dictionary we can have list as a key or tuple as key but a dictionary cannot be a key

# Working with the functions of dictionary

In [8]:
# To fetch all the keys or values of a dictionary
a= d3.keys()
b= d3.items()
c= d3.values()
a,b,c

(dict_keys(['name', 'tech_stack', 'work_profile', 'extended_dict']),
 dict_items([('name', 'Harshit'), ('tech_stack', ['sql', 'python', 'dockers', 'git', 'Terraform']), ('work_profile', 'Engineer'), ('extended_dict', {'name': 'Harshit', 'age': 24, 'email': 'harshit@abc.com', 'number': 1234567890})]),
 dict_values(['Harshit', ['sql', 'python', 'dockers', 'git', 'Terraform'], 'Engineer', {'name': 'Harshit', 'age': 24, 'email': 'harshit@abc.com', 'number': 1234567890}]))

# TASK

In [80]:
# l16 = [1,2,3,4,5,[10,11,12,13,14,15],[16,17,18,19,20],(21,22,23),{'name':'Harshit','age':24,'stack':['sql','python']},6,7,8,9]
# a= l16[::-1] #try to reverse a list
# b= l16[7][0] # try to extract 21 out of tuple
# c= l16[5][1] # try to extract 11 out of list
# d= l16[5:7] # try to print all the list
# e= l16[8]['stack'] # try to print all the values of key 'stack'
# f= l16[8].keys() # try to print all the keys available in the dictionary
# g= l16[8].items() # try to print all the values available in the dictionary

# a,b,c,d,e,f,g